tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    text-align: center;
    }

th {    
    text-align: center
}

.fixedrank{
    width: 15%;
}

.fixednickname{
    width: 45%;
}

.fixednation{
    width: 25%;
}

.fixedlp{
    width: 15%;
}